@import "../../../ui/theme/colors";
@import "mixins";

:export { primaryColor: $primary-color; }
:export { lighterGray: $lighter-gray; }
:export { lightGray: $light-gray; }
:export { lightOrange: $light-orange; }
:export { lightGray2: $light-gray2; }
:export { darkishGray: $darkish-gray; }
:export { white: $white; }

:export { primaryColor_1: $primary-color-1; }
:export { primaryColor_2: $primary-color-2; }
:export { primaryColor_3: $primary-color-3; }
:export { primaryColor_4: $primary-color-4; }
:export { primaryColor_5: $primary-color-5; }

:export { lightOrange_1: $light-orange-1; }
:export { lightOrange_2: $light-orange-2; }
:export { lightOrange_3: $light-orange-3; }
:export { lightOrange_4: $light-orange-4; }

:export { lightGray2_1: $light-gray2-1; }
:export { lightGray2_2: $light-gray2-2; }
:export { lightGray2_3: $light-gray2-3; }

:export { lighterGray_1: $lighter-gray-1; }
:export { lighterGray_2: $lighter-gray-2; }
:export { lighterGray_3: $lighter-gray-3; }

:export { darkishGray_1: $darkish-gray-1; }
:export { darkishGray_2: $darkish-gray-2; }
:export { darkishGray_3: $darkish-gray-3; }

:export { darkGray: $dark-gray }

.mapBox {
    // padding: 0 20%;
    width: 50vw;
    height: 60vh;

    :global .gm-style-iw {
        color: gray;
    }
}

.label {
    background: #ff0000;
}

.tabs {
    @include legend-container();

    :global .pt-tabs {
        overflow: visible !important;
    }

    :global .pt-tab-list {
        justify-content: space-between;
        border: 1px solid rgba($lighter-gray, 0.25);
        border-radius: 6px;
    }

    :global .pt-tab[aria-selected="true"] {
        border-radius: 6px;
        box-shadow: none !important;
        background: rgba($lighter-gray, 0.25);
        color: $white !important;
    }

    :global .pt-tab {
        margin-right: 0 !important;
        overflow: visible !important;
        padding: 10px 16px;
        text-align: center;
        text-transform: uppercase;
        color: $lighter-gray !important;
        // width: 20%;
    }

    :global .pt-tab-panel {
        margin-top: 30px;
    }
}

.panel {
    padding: 0 20px 20px 20px;
}

.legend {
    display: block;
    // margin: -38px auto 26px auto;
    position: absolute;
    left: 50%;
    margin-top: 60px;
    margin-left: -3.5px;
    border-radius: 50%;
    width: 7px;
    height: 7px;
}

$buttonWidth: 80px;

.filterButton {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: none !important;
    background: transparent !important;
    width: $buttonWidth;
    height: $buttonWidth;
    padding: 0 !important;
    line-height: 1 !important;

    &:hover > svg {
        // fill: $white;
    }

    & > div {
        position: absolute;
        top: 20px;
        width: 100%;
    }
}

$width: 270px;

$sidePanelPadding: 30px;

.filterPanel {
    position: fixed;
    top: 0;
    right: -330px;
    bottom: 0;
    z-index: 3;
    background: $dark-gray;
    background: radial-gradient(at top right, $background-highlight 0%, $dark-gray 100%);
    width: $width;
    overflow: hidden;
    overflow-y: auto;
    padding: 75px $sidePanelPadding 20px ($sidePanelPadding + $buttonWidth);
    transition: right 0.2s ease, padding 0.2s ease;

    &:global.open {
        right: 0;
        padding-left: $sidePanelPadding;

        svg {
            margin-top: -10px;
        }
    }

    h3 {
        margin-bottom: 20px;
        color: $white !important;
    }
}

.reset {
    margin: 10px 0;
    background: $light-gray !important;
    width: 100%;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.applyFilters {
    border-radius: 6px !important;
    padding-right: 40px !important;
    // width: 100%;
    padding-left: 40px !important;
    text-transform: uppercase !important;
}

.chartArea {
    margin: 0 auto 30px auto;
    width: 50vw;
    height: 60vh;

    svg {
        overflow: visible !important;
    }
}

.downloadChartButton {
    display: flex !important;
    align-items: center;
    background: none !important;
    padding: 0 !important;
    color: $primary-color !important;

    & > span {
        margin: 5px 3px 0 0;
    }
}

.downloadChartWrapper {
    position: absolute !important;
    top: 35px;
    right: 100px;
}

.filters {
    margin-top: 24px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;

    &:global.open {
        display: block;
    }
}

.navIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
    border: 1px solid $lighter-gray;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    transition: border-color 0.2s ease;
}

.navButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 290px;
    z-index: 5;
    width: 95px;
    text-align: center;
    color: $lighter-gray;
    transition: color 0.2s ease;

    &:hover {
        color: $white;

        svg {
            fill: $white;
        }

        .navIcon {
            border-color: $white;
        }
    }

    @media (max-width: 770px) {
        display: none;
    }
}

.prev {
    left: 100px;
    transition: left 0.2s ease;

    @media (min-width: 1380px) {
        left: 150px;
    }
}

.next {
    right: 100px;
    transition: right 0.2s ease;

    @media (min-width: 1380px) {
        right: 100px;
    }
}

.switchView {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
}

.percentageSwitch {
    margin-top: 50px;
    padding-left: 90px;
    text-align: center;
}

.switchButton {
    button:global.not-selected {
        box-shadow: inset 0 0 0 1px rgba($primary-color, 0.5) !important;
        background: transparent;
        color: rgba($primary-color, 0.5);
    }
}

:global .pt-control.pt-switch input:checked ~ .pt-control-indicator {
    background: $primary-color !important;
}

.hr {
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.description {
    @include legend-container();
}

.jobNeighbourhoodsSlider {
    margin: 0 auto;
    width: 200px;

    :global .pt-slider-handle {
        background: $primary-color !important;
    }

    :global .pt-label {
        display: block !important;
        text-align: center;
    }

    :global .pt-slider-label {
        white-space: nowrap;
    }
}

.rolesAtRisk {
    width: 100%;
}
