@import "../../../ui/theme/colors";

.avatar {
    display: inline-block;
    border: 1px solid $lighter-gray;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    color: $lighter-gray;
    font-size: 11px;
}

.organization {
    color: $primary-color !important;

    &:hover {
        color: $white !important;
    }
}
