@import "../../../ui/theme/colors";

:export { primaryColor: $primary-color; }

.buttonsContainer {
    margin-top: 20px;
}

.buttons {
    margin-top: 20px;
    box-shadow: none !important;
    background: transparent !important;
    width: 50%;
    padding: 0 !important;
    text-align: center;

    & > .roundButton {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        border: 1px solid $lighter-gray;
        border-radius: 50%;
        width: 90px;
        height: 90px;
    }

    h5 {
        margin-top: 15px;
        color: $white !important;
        font-weight: 300;
    }

    h6 {
        font-size: 1em;
        font-weight: 300;
    }
}

.downloadButton {
    border-right: 1px solid rgba($lighter-gray, 0.5) !important;

    &:hover svg {
        animation: slideInDown 0.7s infinite;
    }
}

.uploadButton {
    cursor: pointer;

    & > .roundButton {
        border-style: dashed;
        transition: all 0.2s ease;
    }

    &:hover svg {
        animation: slideInUp 0.7s infinite;
    }
}

.dragActive {
    .roundButton {
        transform: scale(1.2);
        border-color: transparent;
        background: $primary-color;

        svg {
            fill: $white;
        }
    }
}

@keyframes slideInDown {
    from {
        transform: translate3d(0, -50%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 30%, 0);
    }
}


@keyframes slideInUp {
    from {
        transform: translate3d(0, 50%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, -30%, 0);
    }
}

.heading {
    padding: 7px 0 7px 30px;
}

.uploadingTipsButton {
    display: flex !important;
    align-items: center;
    box-shadow: none !important;
    background: transparent !important;
    padding: 0 !important;
    color: $primary-color !important;

    svg {
        margin-left: 3px;
    }
}

.stepButton {
    border-radius: 6px !important;
    background: $light-gray !important;
    width: 90px;
    padding: 0 !important;
    color: $white;

    &:global.active {
        background: $white !important;
        color: $light-gray !important;
    }
}

.stepArea {
    margin-left: 120px;
    border-bottom: 1px solid rgba($lighter-gray, 0.5);
    width: auto;

    & > div {
        padding-bottom: 20px;
    }

    &:global.active {
        // min-height: 320px;
    }
}

.section {
    margin-top: 10px;
}

.uploadingTipsList {
    padding-left: 16px;
    // color: $lighter-gray;
    color: $white;

    strong {
        color: $white;
    }
}

.uploadInput {
    opacity: 0;
    margin: 0;
    min-width: 200px;
}

.progressBar {
    margin-bottom: 20px;

    & > div {
        transition-duration: 0.2s !important;
        animation: progressBarBackground 2s linear infinite reverse !important;
    }
}

@keyframes progressBarBackground {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }
}

$slidingSpeed: 250;
:export { slidingSpeed: $slidingSpeed; }

.JobMatchingCard {
    min-height: 150px;
    padding: 20px;
    animation: fadeInRight #{$slidingSpeed / 1000}s ease;
}

@keyframes fadeInRight {
    from {
        transform: translate3d(100%, 0, 0);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }
}

.animateOut {
    animation: fadeOutLeft #{$slidingSpeed / 1000}s ease;
    animation-fill-mode: forwards;
}

@keyframes fadeOutLeft {
    from {
        opacity: 1;
    }

    to {
        transform: translate3d(-100%, 0, 0);
        opacity: 0;
    }
}

.highlightedOptions {
    color: $primary-color !important;
    font-weight: 400 !important;
}

.uploadedFileName {
    color: $primary-color;
}

.zoomInAnimation {
    animation: zoomIn 0.2s ease;
}

.continueButton {
    // width: 100%;
    padding: 0 30px !important;
}

@keyframes zoomIn {
    from {
        transform: scale3d(0.3, 0.3, 0.3);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.popOver {
    transform: scale(1) translateY(-14px) !important;

    :global .pt-popover-content {
        padding: 20px;
        text-align: center;

        h6 {
            color: $white;
        }
    }

    :global .pt-popover-arrow {
        bottom: -10px;
        left: 50%;
        transform: rotate(-90deg) translateY(-50%);
    }
}

.completeValidation {
    align-self: flex-start;
}

.startOverButton {
    background-color: $lighter-gray !important;
}
