@import "../ui/theme/colors";

.app {
    background: $deep-dark-gray;
    background: radial-gradient(at top right, $background-highlight 0%, $deep-dark-gray 100%);
    width: 100%;
    min-height: 100vh;
}

:global html {
    ::selection {
        background: $primary-color;
        color: $white;
    }

    &[data-whatinput="mouse"] :focus {
        outline: none;
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 300;
    }

    body {
        font-weight: 300;
    }

    .pt-button:hover {
        color: $primary-color;
    }

    a:hover {
        text-decoration: none;
    }
}
