@font-face {
    font-family: 'Foundry Sterling';
    src: local('FoundrySterling-Book'),
      url('https://s3.amazonaws.com/aws-website-tandem-dcjz7/assets/fonts/FoundrySterling-Bold.woff') format('woff'),
      url('https://s3.amazonaws.com/aws-website-tandem-dcjz7/assets/fonts/FoundrySterling-Bold.woff2') format('woff2'),
      url('https://s3.amazonaws.com/aws-website-tandem-dcjz7/assets/fonts/FoundrySterling-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Foundry Sterling';
    src: local('FoundrySterling-Demi'),
      url('https://s3.amazonaws.com/aws-website-tandem-dcjz7/assets/fonts/FoundrySterling-Demi.woff') format('woff'),
      url('https://s3.amazonaws.com/aws-website-tandem-dcjz7/assets/fonts/FoundrySterling-Demi.woff2') format('woff2'),
      url('https://s3.amazonaws.com/aws-website-tandem-dcjz7/assets/fonts/FoundrySterling-Demi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Foundry Sterling';
    src: local('FoundrySterling-Medium'),
      url('https://s3.amazonaws.com/aws-website-tandem-dcjz7/assets/fonts/FoundrySterling-Medium.woff') format('woff'),
      url('https://s3.amazonaws.com/aws-website-tandem-dcjz7/assets/fonts/FoundrySterling-Medium.woff2') format('woff2'),
      url('https://s3.amazonaws.com/aws-website-tandem-dcjz7/assets/fonts/FoundrySterling-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Foundry Sterling';
    src: local('FoundrySterling-Light'),
      url('https://s3.amazonaws.com/aws-website-tandem-dcjz7/assets/fonts/FoundrySterling-Light.woff') format('woff'),
      url('https://s3.amazonaws.com/aws-website-tandem-dcjz7/assets/fonts/FoundrySterling-Light.woff2') format('woff2'),
      url('https://s3.amazonaws.com/aws-website-tandem-dcjz7/assets/fonts/FoundrySterling-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Foundry Sterling';
    src: local('FoundrySterling-Bold'),
      url('https://s3.amazonaws.com/aws-website-tandem-dcjz7/assets/fonts/FoundrySterling-Bold.woff') format('woff'),
      url('https://s3.amazonaws.com/aws-website-tandem-dcjz7/assets/fonts/FoundrySterling-Bold.woff2') format('woff2'),
      url('https://s3.amazonaws.com/aws-website-tandem-dcjz7/assets/fonts/FoundrySterling-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Foundry Sterling';
    src: local('FoundrySterling-BookItalic'),
      url('https://s3.amazonaws.com/aws-website-tandem-dcjz7/assets/fonts/FoundrySterling-BookItalic.woff') format('woff'),
      url('https://s3.amazonaws.com/aws-website-tandem-dcjz7/assets/fonts/FoundrySterling-BookItalic.woff2') format('woff2'),
      url('https://s3.amazonaws.com/aws-website-tandem-dcjz7/assets/fonts/FoundrySterling-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Foundry Sterling';
    src: local('FoundrySterling-ExtraBold'),
      url('https://s3.amazonaws.com/aws-website-tandem-dcjz7/assets/fonts/FoundrySterling-ExtraBold.woff') format('woff'),
      url('https://s3.amazonaws.com/aws-website-tandem-dcjz7/assets/fonts/FoundrySterling-ExtraBold.woff2') format('woff2'),
      url('https://s3.amazonaws.com/aws-website-tandem-dcjz7/assets/fonts/FoundrySterling-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }
  